<title><%= titulo_app %></title>

<div>Bienvenido a <%= titulo_app %></div>

<a href="https://imgbb.com/"><img src="https://i.ibb.co/8Xbm6vL/imagen-2024-12-16-010446113.png" alt="imagen-2024-12-16-010446113" border="0" /></a>